<%- include("../partials/header") %>

<div class="container mt-5">
    <h1>Owner Dashboard</h1>
    <section id="charts" class="my-3">
      <div class="row shadow-sm pb-3">
        <div class="col">
          <form action="/users/dashboard" method="POST">
            <div class="form-row">
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label for="beginDate" class="input-group-text" id="beginDateLabel">From</label>
                  </div>
                  <input type="date" name="beginDate" id="beginDate" aria-describedby="beginDateLabel">
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label for="endDate" class="input-group-text" id="endDateLabel">To</label>
                  </div>
                  <input type="date" name="endDate" id="endDate" aria-describedby="endDateLabel">
                </div>
              </div>
              <div class="col-1">
                <button class="btn btn-secondary" type="submit">Go</button>
              </div>
            </div>
          </form>
        </div>
      </div>
        <div class="row shadow-sm pb-3">
            <div class="col">
                <h3>Invitations/Completions/Setups</h3>
                <canvas id="invitations-over-time" width="800" height="400">
                  <div class="chart-container" id="chart-container" ><img src="/images/line-graph-example.svg" alt=""></div>
                </canvas>
            </div>
        </div>
        <div class="row shadow-sm pb-3">
          <div class="col">
            <h3>New Companies and Locations</h3>
            <canvas id="companies-locations-over-time" width="800" height="400">
              <div class="chart-container" ><img src="/images/line-graph-example.svg" alt=""></div>
            </canvas>
          </div>
        </div>
      </section>
      <section id="forms">
        <div class="row shadow-mb-3">
          <div class="col mt-3"+>
            <div class="row">
              <div class="col-3">
                <h3>Create A Company</h3>
              </div>
              <div class="col">
                <p> - All fields required unless specified</p>
              </div>
            </div>
            <form action="/companies" method="POST" id="create-company-form">
                <div class="form-row mb-1">
                  <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="location[name]" class="input-group-text">Name</label>
                        </div>
                        <input type="text" id="location[name]" name="location[name]" class="form-control" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="location[officeNumber]" class="input-group-text">Primary Office #</label>
                        </div>
                        <input type="text" id="location[officeNumber]" name="location[officeNumber]" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="location[phone]" class="input-group-text">Phone</label>
                        </div>
                        <input type="tel" id="location[phone]" name="location[phone]" class="form-control" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="location[website]" class="input-group-text">Website</label>
                        </div>
                        <input type="url" id="location[website]" name="location[website]" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][streetNumber]" class="input-group-text">Street #</label>
                      </div>
                      <input type="number" name="location[address][streetNumber]" id="location[address][streetNumber]" style="width:5em;" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][streetName]" class="input-group-text">Street Name</label>
                      </div>
                      <input type="text" name="location[address][streetName]" id="location[address][streetName]" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][secondary]" class="input-group-text">Secondary</label>
                      </div>
                      <input type="text" name="location[address][secondary]" id="location[address][secondary]" class="form-control" placeholder="Optional">
                    </div>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col-4">
                    <div class="input-group">
                      <label for="location[city]" class="input-group-text">City</label>
                      <input type="text" name="location[address][city]" id="location[address][city]" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][state]" class="input-group-text">State</label>
                      </div>
                      <select name="location[address][state]" id="location[address][state]" class="form-control">
                        <% Object.keys(states).forEach(key => { %>
                          <option value="<%= key %>"><%= key %></option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][postal]" class="input-group-text">Postal</label>
                      </div>
                      <input type="text" name="location[address][postal]" id="location[address][postal]" class="form-control" maxlength="7" minlength="5" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="location[address][country]" class="input-group-text">Country</label>
                      </div>
                      <select name="location[address][country]" id="location[address][country]" class="form-control">
                        <option value="USA">United States</option>
                        <option value="CAN">Canada</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col-3">
                    <p class="input-group-text">Primary Contact Information</p>
                  </div>
                </div>
                <div class="form-row mb-1">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="contact[firstName]" class="input-group-text">First Name</label>
                      </div>
                      <input type="text" name="contact[firstName]" id="contact[firstName]" class="form-control" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="contact[lastName]" class="input-group-text">Last Name</label>
                      </div>
                      <input type="text" name="contact[lastName]" id="contact[lastName]" class="form-control" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="contact[personalEmail]" class="input-group-text">Email</label>
                      </div>
                      <input type="email" name="contact[personalEmail]" id="contact[personalEmail]" class="form-control" required>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-secondary mt-2">Create</button>
            </form>
        </div>
        </div>
        <div class="row shadow-sm pb-3">
            <div class="col mt-3" id="send-link">
              <h3>Send An Invitation</h3>
              <form action="/users/send" method="POST" id="send-link-to-user">
                  <div class="form-row mb-1">
                    <div class="col">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <label for="locationSelector" class="input-group-text">Location</label>
                          </div>
                          <select class="form-control" id="locationSelector" name="locationSelector" onchange="handleExpedited()" required>
                            <option value="">-</option>
                            <% if (allLocations && allLocations.length > 0) { %>
                              <% for (let location of allLocations) { %> 
                                <option value="<%= location.id %>"><%= location.name %> - #<%= location.officeNumber %></option>
                              <% } %>
                            <% } %>
                          </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <label for="email" class="input-group-text">Email</label>
                          </div>
                          <input type="email" id="email" name="email" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <label for="firstName" class="input-group-text">First Name</label>
                          </div>
                          <input type="text" id="firstName" name="firstName" class="form-control" required>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <label for="lastName" class="input-group-text">Last Name</label>
                          </div>
                          <input type="text" id="lastName" name="lastName" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="form-check form-check-inline" id="expediteCheckbox" style="display:none;">
                      <input type="checkbox" id="isExpedited" name="isExpedited" class="form-check-input" >
                      <label for="isExpedited" class="form-check-label">Expedite This Setup</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="checkbox" id="isHidden" name="isHidden" class="form-check-input" >
                      <label for="isHidden" class="form-check-label">Keep this setup hidden</label>
                    </div>
                    <div class="" id="expeditedTotal">

                    </div>
                  </div>
                  <button type="submit" class="btn btn-secondary mt-2">Send Link</button>
              </form>
          </div>
        </div>
    </section>
    <section id="search" class="my-2">
        <div class="row shadow-sm">
            <div class="col">
                <form action="/dashboard" method="POST" id="search" class="my-2">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search names or dates" aria-label="Search names or dates">
                        <div class="input-group-append">
                            <button class="input-group-text">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="tables">
        <div class="row shadow-sm my-3">
            <div class="col">
                <h3>Recently Added Companies</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase"># of Locations</div>
                        </th>
                        <!-- <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Contact Name</div>
                        </th> -->
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Date</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <% if (recentCompanies && recentCompanies.length > 0 ) { %>
                          <% for(let company of recentCompanies) { %>
                            <tr>
                              <td class="border-0 align-middle"><strong><%= company.name %></strong></td>
                              <td class="border-0 align-middle"><strong><%= company.locations.length %></strong></td>
                              <td class="border-0 align-middle"><strong><%= company.created.toDateString() %></strong></td>
                            </tr>
                          <% } %>
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row shadow-sm my-3">
            <div class="col">
                <h3>Recently Completed Setups</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">First Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Last Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Email</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Date</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <%# for(let response of recentResponses) { %>
                          <tr>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>Andrew</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>Stone</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>andytherock@gmail.com</td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>2020-03-17 14:25</td>
                            </tr>
                        <%# } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
</div>
<script>
  var beginDate = new Date(<%- JSON.stringify(beginDate) %>);
  var beginMonth = beginDate.getMonth() + 1;
  if (beginMonth < 10) {
    beginMonth = '0'+beginMonth;
  }

  var endDate = new Date(<%- JSON.stringify(endDate) %>);
  var endMonth = endDate.getMonth() + 1;
  if (endMonth < 10) {
    endMonth = '0'+endMonth;
  }

  var endDay = endDate.getDate();
  if (endDay < 10) {
    endDay = '0' + endDay
  }

  document.querySelector('#beginDate').defaultValue = `${beginDate.getFullYear()}-${beginMonth}-01`;
  document.querySelector('#endDate').defaultValue = `${endDate.getFullYear()}-${endMonth}-${endDay}`;
  var graphDatasets = <%- JSON.stringify(graphDatasets) %>;
  var allLocations= <%- JSON.stringify(allLocations) %>;
</script>
<%- include("../partials/footer") %>